html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Molengo';
  src: url('/fonts/Molengo-Regular.ttf'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/Molengo-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Montseratt';
  src: url('/fonts/Montserrat-Bold.ttf'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/Montserrat-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}


.logo-img {
  width: 70px;
  height: 70px;
  
}

.index-img {
  background-image: url('/img/poli-dark.png');
  font-family: Molengo;
    /* Center and scale the image nicely */
  height : 100vh;
  background-repeat: no-repeat;
}

.img-about {
  background-image: url('/img/about.png');
  font-family: Molengo;
    /* Center and scale the image nicely */
  height : 100vh;
  background-repeat: no-repeat;
}

.navbar {
  font-size: 22px;
}
/* all the nav items that are not the main MDNN one*/
.surround-item {
  padding-top: 44px;
}

.nav-item {
  padding-top: 15px
}

.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}
/* MDNN item in the middle */
.middle-nav {
  font-size: 66px;
  letter-spacing: 30px;
  color: white;
}

.search-contain {
  padding-top: 400px;
  padding-left: 75px;
}

.search-bar {
  height: 45px;
}

/* dropdown button */
.drop-me-down {
  height: 45px;
  background-color: rgb(18, 18, 19);
  color: white;
  border: solid 1px rgb(134, 128, 128);
  letter-spacing:3px;
  z-index: -10;
}

.search-button {
  height: 45px;
  background-color: rgb(28, 28, 29);
  color: rgb(7, 149, 126);
  border: solid 1px rgb(134, 128, 128);
  margin-left: 53px;
  letter-spacing:3px;
}

.use-montseratt {
  font-family: Montseratt;
  font-size: 70px;
  letter-spacing: 5px;
  padding-top: 175px;
  padding-right:525px;
}

.custom-green {
  color: rgb(45, 131, 118);
}

.custom-white {
  color: rgba(255,255,255, 0.5);
  
}

.row-bottom-margin { margin-bottom:-40px; }
